In [1]:
import pandas as pd
import json
from pathlib import Path

In [2]:
label_map = pd.read_excel("../imat_data/relabel.xlsx", engine='openpyxl')

In [3]:
groups = label_map.sort_values('labelId_new').groupby('taskName')

In [4]:
groups.size()

taskName
category    48
color       19
gender       3
material    23
neckline     6
pattern     18
sleeve       4
style       10
dtype: int64

In [5]:
label_map['group_label'] = groups.cumcount()

In [8]:
label_map.to_excel('../imat_data/relabel-split.xlsx')

In [10]:
label_map.sort_values(['taskName', 'labelId_new'])

,Unnamed: 0,labelId,taskId,labelName,taskName,keep,labelId_new,group_label
1,7,8,1,Baggy Jeans,category,NaN,1,0
2,11,12,1,Beach & Swim Wear,category,NaN,2,1
4,14,15,1,Bikinis,category,NaN,4,2
6,17,18,1,Blouses,category,NaN,6,3
9,20,21,1,Bodysuits,category,NaN,9,4
...,...,...,...,...,...,...,...,...
74,137,138,9,Printed,style,NaN,74,5
80,149,150,9,Rhinestone Studded,style,NaN,80,6
103,183,184,9,Summer,style,NaN,103,7
116,208,209,9,Two-Tone,style,NaN,116,8
128,224,225,9,Wrap,style,NaN,128,9