In [1]:
import pandas as pd
import json
from pathlib import Path

In [3]:
label_map = pd.read_excel("../imat_data/relabel.xlsx", engine='openpyxl')

In [5]:
groups = label_map.sort_values('labelId_new').groupby('taskName')

In [6]:
groups.head(10)

,Unnamed: 0,labelId,taskId,labelName,taskName,keep,labelId_new
0,1,2,9,Asymmetric,style,NaN,0
1,7,8,1,Baggy Jeans,category,NaN,1
2,11,12,1,Beach & Swim Wear,category,NaN,2
3,13,14,2,Beige,color,NaN,3
4,14,15,1,Bikinis,category,NaN,4
...,...,...,...,...,...,...,...
115,204,205,5,Turtlenecks,neckline,NaN,115
116,208,209,9,Two-Tone,style,NaN,116
117,209,210,5,U-Necks,neckline,NaN,117
121,213,214,5,V-Necks,neckline,NaN,121
128,224,225,9,Wrap,style,NaN,128